
/* body - main theme */
.section-1 {
    margin-top: 80px;
    padding: 0 30px;
    max-height: 415px;
    justify-content: space-between;
    /* width: 100px; */
}

.section-1 .theme {
    z-index: 1;
}

.section-1 .theme h1 {
    font-family: var(--mf);
    font-size: 60px;
    font-weight: 700;
    width: 413px;
    color: var(--c1);
}

.section-1 .theme h1 .gr {
    color: var(--c4);
}

.section-1 .theme p {
    font-family:var(--sf);
    font-size: 16px;
    margin: 20px 0 35px;
    font-weight: 400;
    width: 630px;
    color: var(--c1);
}

/* links */
.section-1 .theme .links a {
    font-family: var(--mf);
    font-size: 20px;
    font-weight: 600;
    width: 257px;
    display: inline-flex;
    place-content: center;
    height: 48px;
    color: var(--c1);
    border: 2px solid var(--c4);
    border-radius: 40px;
}

.section-1 .theme .links a span,
.section-1 .theme .links a svg {
    margin: auto 0;
}

.section-1 .theme .links a svg {
    margin-left: 5px;
}

.section-1 .theme .links a:nth-child(1) {
    color: var(--c3);
    margin-right: 36px;
    background: var(--c4);
}

.section-1 .img {
    position: relative;
    top: -61px;
    /* left: -97px; */
    width: fit-content;
    height: fit-content;
    z-index: 0;
}


/* section 2 */
.section-2 {
    margin: 160px 52px 0;
}


/* parent div for all the features */
.section-2 .features-list {
    min-width: 1263px;
    margin: 70px auto 0;
    justify-content: space-between;
}

/* each feature styling */
.section-2 .features-list .feature {
    width: 253px;
    height: 326px;
    border-radius: 50px 0 50px 0;
    background: #E5E7EB;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.05);
    flex-direction: column;
}

/* each feature icon styling */
.section-2 .features-list .feature .icon {
    width: 67px;
    height: 71px;
    background: #FFFFFF;
    border-radius: 26px;
    display: grid;
    place-content: center;
    margin-left: 24px;
    margin-top: 42px;
}

/* each feature icon svg */
.section-2 .features-list .feature .icon svg {
    width: 40.64px;
    height: auto;
}

.section-2 .features-list .feature:nth-child(2) .icon svg {
    width: 30px;
}

.section-2 .features-list .feature:nth-child(3) .icon svg {
    width: 29.54px;
}

.section-2 .features-list .feature:nth-child(4) .icon svg {
    width: 40px;
}

/* each feature body */
.section-2 .features-list .feature div:nth-child(2) {
    margin: 24px auto auto;
    width: 196px;
    font-family:var(--sf);
    color: #1A202C;
    font-size: 16px;
}

/* each feature header */
.section-2 .features-list .feature div:nth-child(2) h1 {
    margin: 0 0 14px;
    font-weight: 500;
    font-size: 1.6em;
}

/* section 3 */

.section-3 {
    margin: 160px 70px 0;
}

.section-3 .test {
    margin: 5% auto 0;
    background-color: #6B7280;
    border-radius: 10px;
    height: 508px;
    padding: 2%;
    width: 95%;
    justify-content: space-between;
}

.section-3 .test .input {
    background: #ffff;
    padding: 2%;
    width: 49%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -13%;
}

.section-3 .test .input h3 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
}

.section-3 .test .input p {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 10px;
    width: fit-content;
}

.section-3 .test .input form h2 {
    font-size: 3em;
    font-weight: 400;
    margin-top: 8%;
}

.section-3 .test .input form input#in-form {
    width: 90%;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: 1px solid #707070;
    font-size: 1.7em;
    margin: 3% 0 0;
}

.section-3 .test .input form .select {
    width: 35%;
    justify-content: space-between;
    margin: 2.5% 0 0;
}

.section-3 .test .input form .select .option {
    width: fit-content;
    align-items: center;
}

.section-3 .test .input form .select .option label {
    margin-left: 5%;
    font-size: 1.6em;
    font-family: var(--sf);
    font-weight: 500;
}

.section-3 .test .input .link {
    margin: 10% 0 9%;
    width: 100%;
    padding: 1.2em 1.5em;
    text-align: center;
    background: #9f9f9f1f;
}

.section-3 .test .input .link a {
    color: #515254;
    font-size: 1.6em;
}

.section-3 .test .input p:nth-of-type(2) {
    font-weight: 400;
    margin: 0 auto;
}

/* output */
.section-3 .test .output {
    background: var(--c2);
    padding: 2%;
    width: 49%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}


/**
*Section 4
*/
.section-4{
    margin: 160px 70px 0;
}
.section-4 .mentioned-in{
    width: 95%;
    justify-content: space-between;
    margin: 4% auto 0;
}


/**
*Section 5
*/
.section-5 .text{
    margin: 160px 70px 0;
}

.section-5 .main-info{
    height: fit-content;
    background: #DAEDAE;
    margin-top: 7.2em;
    flex-direction: column;
}

.section-5 .main-info .top{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10.7em;
}

.section-5 .main-info .stats{
    height: 264px;
    width:271px;
    padding: 3% 0 ;
    box-sizing: border-box;
    background-color: #188859;
    display: flex;
    place-content: center;
    flex-direction: column;
    text-align: center;
    border-radius:60px 0 60px 60px ;
}

.section-5 .main-info .stats .num{
    font-size: 5em;
    font-family: segoe ui;
    font-weight: bold;
    color: #DAEDAE;
}

.section-5 .main-info .stats .txt{
    font-size: 2em;
    font-family: var(--mf);
    font-weight: medium;
    color: #DAEDAE;
}

.section-5 .main-info .middle{
    margin-top: 10.7em;
    justify-content: space-around;
}


.section-5 .main-info .stats .images{
    flex-direction: column;
    width: 90%;
    margin-top: 4em;
    place-self: center;
}

.section-5 .main-info .stats .images img{
    margin: 0 1em 1em 0;
}

.section-5 .main-info .buttom{
    margin: 10.7em 0;
    justify-content: space-around;
}


/**
*Section 6
*/

.section-6{
    min-height: 300px;
    background-color: var(--c1);
    padding: 7.5% 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.section-6 p{
    font-family:var(--sf);
    font-size: 2.4em;
}

.section-6 a.key{
    font-family:var(--mf);
    color: #FFFFFF;
    background: var(--c4);
    padding: .5em 1.5em;
    font-weight: 700;
    border-radius: 5em;
    font-size: 2em;
}

footer{
    background-color: #6A717F;
    height: 11em;
    flex-direction: column;
}

footer .links{
    place-content: center;
    justify-content: space-between;
    padding: 2em 45% 1em;

}

footer .links a{
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    border-radius: 100px;
}

footer p{
place-self: center;
font-size: 1.6em;
font-family: mada;
color: #FFFFFF;
}

